.header {
	background-color: #F0F6FA;
}

.logo {
	font-size: 40px;
	color: black;
	text-decoration: none;
}

.logo .b {
	color: #0464F1;
}

.logo .m {
	color: #ADD9D3;
}

.logo:hover {
	text-decoration: none;
	color: black;
}

.logo > p {
	margin: 0;
	padding: 0;
}

.iimg {
	width: 100%;
}